/* All Page */
nav {
    text-align: right;
}
.top-nav ul li {
    display: inline;
}

footer{
    background: #000;
    color: #fff;
    padding: 20px;
}
footer a {
    color: #fff;
}

/* Coantact Page */
#address-section {
    text-align: center;
}